[Unit]
Description=Shows clock on an e-paper display
After=multi-user.target

[Service]
Type=idle
User=matty
Group=matty
Restart=on-failure
ExecStart=/usr/bin/python3 /home/matty/Rpi0w_epaper_clock/clock.py

[Install]
WantedBy=multi-user.target
